.profissionals {
  display: flex;
  flex-direction: column;
}
.profissionals .profissionals-header {
  display: flex;
  gap: 5rem;
  font-weight: bold;
  font-size: 3rem;
  justify-content: center;
  color: #35a944;
  text-transform: uppercase;
  font-style: italic;
  padding: 0 2rem;
}


.profissionals .seeAllContainer{
  position: relative;
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profissionals .seeAllContainer .seeAll:hover {
    background-color: #35a944;
    color: white;
    transition: 300ms all ease-in;
  }
  .profissionals .seeAllContainer .seeAll {
    padding: .6rem 2.5rem;
    color: #35a944;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #35a944;
  }

  .profissionals .wrapper {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 1rem 15rem;
    overflow: hidden;
    position: relative;
  }

  
  .swiper-pagination{
  bottom: -10px !important;
  padding: .5rem;
}

  .swiper-wrapper{
  padding: 1rem !important;
}

  .swiper{
  padding: 1rem !important;
}

.swiper-pagination-bullet{
  background-color: #35a944 !important;
  height: 11px;
  width: 11px;
}

  @media screen and (max-width: 767px) {
    .profissionals .profissionals-header{
      flex-direction: column;
      gap: 1rem;
      font-size: x-large;
      align-items: center;
      justify-content: center;
      /* margin-top: 2rem; */
    }
    .profissionals .wrapper{
      padding: 0; 
    }
  }

  @media screen and (max-width: 1100px) {
  
  .profissionals .wrapper{
      padding: 1rem 9rem;
    }
  }

  @media screen and (max-width: 981px) {
  
  .profissionals .wrapper{
      padding: 1rem 6rem;
    }
  }

  @media screen and (max-width: 768px) {
  
  .profissionals .wrapper{
      padding: 1rem 2rem; 
    }
  }