.Footer-container{
    position: relative;
    
}
.footer {
  padding: .5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.social-links{
    display: flex;
    gap: 4rem;
}
.social-links > img {
  width: 3rem;
  height: 3rem;
  padding: 12px;
  background-color: #35a944;
  cursor: pointer;
  border-radius: 12px;
}
/* .logo-f>img{
    width: 10rem;
} */

.logo-f> .img{
    font-size: 20px;
    text-transform: uppercase;
    color: #35a944;
}
.Footer-container>:nth-child(3)
{
    bottom: 0;
    right: 15%;
    width: 26rem;
    height: 8rem;
    /* filter: blur(200px); */
    background: #35a944;
}
.Footer-container>:nth-child(4)
{
    bottom: 0;
    left: 15%;
    width: 26rem;
    height: 8rem;
    /* filter: blur(200px); */
    background: #35a944;
}
